<html>
<head>
  <title>
    Home
  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src = "static/script.js"></script>
</head>
<body>
  <div class ="container">
    <div class = "row">
      <div class="panel panel-default">
        <div class="panel-body">
          <select class="selectpicker set1value">
            <optgroup label="Picnic">
              <option>Mustard</option>
              <option>Ketchup</option>
              <option>Relish</option>
            </optgroup>
          </select>
          <button class="btn btn-default set1button">Set</button>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class="panel panel-default">
        <div class="panel-body">
          <select class="selectpicker set2value">
            <optgroup label="Camping">
              <option>Tent</option>
              <option>Flashlight</option>
              <option>Toilet Paper</option>
            </optgroup>
          </select>
          <button class="btn btn-default set2button">Set</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
